@import url('./clash-display.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  height: 45vh;
  font-weight: bolder;
  font-family: var(--fontFamily);
  color: var(--mainWhite);
}

button {
  background: none;
  border: none;
}

/* variables root properties customization */
:root {
  --mainRed: #ff0048;
  --mainRedAlpha: #ff0048c8;
  --greatBlue: #4f49ff;
  --clearGreen: #58ebbf;
  --wh: #fff;
  --clearBlack: #141414;
  --fontFamily: 'ClashDisplay-Regular';
}

span {
  color: var(--clearBlack);
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: inherit;
  /* Apply main font on every headings titles */
}
/* GLOBAL */

/* header css */
header {
  background-color: var(--mainRedAlpha);
  /* box-shadow */

  box-shadow: 0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(255, 255, 255, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* header container will display its 2 divs verticaly */
  flex-direction: column;
}

header h1 {
  font-size: 32px;
  margin: 12px;
}

header .heading-header{
  margin-bottom: 5px;
}

header .input-header {
  position: relative;
  left: 0;
}

header input {
  width: 100%;
  outline: none;
  background: none;
  font-family: var(--fontFamily);
  color: var(--mainWhite);
  height: 40px;
  font-size: 35px;
  border: none;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Checklist */



/* Footer */

footer {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  background: var(--greatBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* justify-content: center, horizontal alignment  */
/* align-items: center, vertical alignment  */

footer input {
  font-size: 40px;
  background: var(--greatBlue);
  border: none;
  color: antiquewhite;
  font-family: 'ClashDisplay-Regular';
}

button {
  background: none;
  border: none;
}

footer img {
  width: 70px;
}

/*  */
form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
}

form input {
  width: 60%;
  outline: none;
}


/* checklist css */
.checklist-container {
  width: 90%;
  color: var(--clearBlack);
  background-color: var(--mainWhite);
  height: 200px;
  display: flex;
  flex-direction: row;
}

.checklist-container img {
  width: 600px;
}